body {
  font-family: Arial;
  background: #f5f5f5;
  text-align: center;
}

h1 {
  color: #333;
}

input,
textarea {
  width: 300px;
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px 20px;
  background: orange;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: darkorange;
}

#list {
  margin-top: 20px;
}

#list div {
  background: white;
  width: 320px;
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
}
